<!DOCTYPE html>
<html lang="pt-br">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Logo</title>
    
        <link rel="stylesheet" type="text/css" href="../styles/logo.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/0049b2d0c0.js"></script>
    
        
</head>
<body>
        <div href="" class="logo">
            <span class="tower1"></span>
            <span class="tower2"></span>
            <span class="tower3"></span>
            <span class="letter">ucdb</span>
        </div>    
</body>
</html>