.rankingMain{
    width: auto;
    align-content: center;
    justify-content: center;
    background-color: rgba(44,48,53, 0.8);
    border-radius: 15px;
    min-width: 700px;
    max-width: 800px;
}
.rankingProfile{
    width: auto;
    font-size: 30px;
    letter-spacing: 0px;
    color: #EEF2F1;
    text-shadow: 2px 2px 2px #2C3035;
    margin: 15px;
    align-content: center;
    justify-content: center;
}

.card-ranking{
    background: #EEF2F1;
    margin: 10px 0px;
    border-radius: 10px;
    padding: 5px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}

.ranking-text{
    margin: 15px;
    letter-spacing: 2px;
    font-size: 18px;
    color: #2C3035;
    text-shadow: none;
}

.ranking-name{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 25px;
}

.card-like{
    margin: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.button-liked{
    display: flex;
    align-content: center;
    justify-content: center;
    color: #2C3035;
    text-decoration: none;
    font-size: 40px;
    text-shadow: none;
}

.button-ext{
    display: flex;
    align-content: center;
    justify-content: center;
    color: #757C84;
    text-decoration: none;
    font-size: 40px;
    margin: 0px 15px;
    text-shadow: none;
}

.button-ext:hover{
    color: #2C3035;
    transition: 0.4s;
}

.number-likes{
    margin-left: 7px;
    padding-top: 1px;
    font-size: 30px;
    color: #2C3035;
    font-weight: bold;
    text-shadow: none;
}

.ranking-buttons{
    width: auto;
    align-content: center;
    justify-content: center;
    background-color: transparent;
    min-width: 700px;
    max-width: 800px;
    text-align: center;
    height: max-content;
    margin-bottom: 10px;
    margin-top: 40px;

}

.button-left{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button-right{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button-active{
    font-size: 40px;
    padding: 10px 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#active{
    background-color: #EEF2F1;
    border: 1px solid #EEF2F1;
    color: #2C3035;
}

.button-sleep{
    font-size: 40px;
    padding:10px 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#sleep{
    background-color: transparent;
    border: 1px solid #EEF2F1;
    color: #EEF2F1;
}

#sleep:hover{
    background-color: #EEF2F1;
    border: 1px solid #EEF2F1;
    color: #2C3035;
    transition: 0.5s;
}