@import url('https://fonts.googleapis.com/css?family=Comfortaa|Nunito+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}
html {
    font-family: 'Comfortaa', cursive;
}

header {
    width: 100%;
    height: 60px;
    background-color: #2780BC;
    color: #337ab7;

    grid-area: header;
}

header p {
    padding-top: 20px !important;
    text-align: center;
}

footer {
    display: grid;
    width: 100%;
    height: 60px;
    bottom: 0%;
    position: fixed;
    background: #2780BC;
    grid-area: footer;
    align-content: center;
    align-items: center;
    box-shadow: -3px -3px 4px 0 rgba(0, 0, 0, .1);

}

.copyright {
    float: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2780BC !important;
}

.center-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    display: flex;
    float: right;
    margin-top: 10px;
    color: #EDF3F4;
    padding-top: 10px;
    letter-spacing: 2px;
}

footer a:hover span {
    color: #2780BC;
    background: #337ab7;
    transition: 0.5s;
}

body {
    font-family: 'Comfortaa', cursive;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        ". main main ."
        "footer footer footer footer";
    background: url('assets/t3.png'),
                #2780BC;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

main {
    grid-area: main;
    display: flex !important;
    /*max-width: 700px !important;*/
    justify-content: center;
    margin-top: 15%;
    padding: 10px;
    margin-bottom: auto;
    background: url('assets/t3.png'),
                #2780BC;
}

#home.active {
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* make main axis vertical */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    /* center items horizontally, in this case */
}

#main-home {
    max-width: 700px;
    text-align: center;
    /* will center text in <p>, which is not a flex item */
}

#home .tab-pane.fade.in.active {
    display: flex !important;
}

#icon-github {
    padding: 5px;
}

.tab-pane.fade.in.active {
    visibility: visible;
}

.tab-pane.fade {
    visibility: hidden;
}


/* Hamburguer Button */
body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    /*    background-color: #f4f4f4;*/
}


/* header */

.header {
    background-color: #2780BC;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #2780BC;
    background-color: transparent;
}

.header li {
    background-color: #2780BC;
    border: 1px solid #337ab7;
    border-color: transparent;
}

.header li a,
.header li button {
    display: block;
    text-decoration: none;
    color: #2780BC;
    /*    background-color: #521822;*/
    background-color: #ec5252;
    padding: 11px 12px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;

}

.header li button:hover,
.header .menu-btn:hover {
    transition: 0.5s;
    background-color: #992337;
}

.header li .btn-quaternary {
    color: #EDF3F4 !important;
    background-color: #2780BC !important;
    border: 1px solid #EDF3F4 !important;
    border-radius: 5px;
    letter-spacing: 3px;
    cursor: pointer;
}

.header li .btn-quaternary:hover {
    color: #2780BC !important;
    background-color: #EDF3F4 !important;
    border-color: #EDF3F4 !important;
}

.header li .btn-primary {
    color: #EDF3F4;
    text-shadow: 1px 1px 2px #2780BC;
    background-color: #5CBFC6;
    border: 1px solid transparent;
    border-radius: 5px;
    letter-spacing: 3px;
    cursor: pointer;
}

.header li .btn-primary:hover {
    color: #EDF3F4;
    background-color: rgba(92,191,198, 0.5);
    border-color: transparent;
}

.header .logo {
    transition: 0.5s;
    display: flex;
    color: #EDF3F4;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 5px;
    text-shadow: 3px 3px 2px #5CBFC6;
}
.center-footer .logo {
    transition: 0.5s;
    display: flex;
    color: #EDF3F4;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 5px;
    text-shadow: 3px 3px 2px #5CBFC6;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #ec5252;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #ec5252;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        display: block;
    }

    .content {
        display: block !important;
        margin-left: 10px !important;
    }

    main {
        margin-top: 8%;
    }

    .header li a,
    .header li button {
        padding: 11px 12px;
        border-radius: 2px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}


main {
    justify-content: center;
}

.hide {
    display: none;
}

main {
    width: 100% !important;
    margin-bottom: 80px;
}

hr{
    visibility: hidden;
}


/**********************SUBJECTS***************************/

.subjectMain{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgba(92,191,198, 0.5);
    border: 1px solid #EDF3F4;
    border-radius: 10px;
    max-width: 800px;
}
.subjectProfile{
    width: auto;
    font-size: 30px;
    letter-spacing: 0px;
    color: #EDF3F4;
    text-shadow: 2px 2px 2px #2780BC;
    margin: 15px;
}

.card-answer{
    background: #EDF3F4;
    margin: 10px 0px;
    width: max-content;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #2780BC;
    box-shadow: 2px 2px 2px #2780BC;
}

.answer-area{
    background: none;
    width: max-content;
    
    padding-left: 50px;
    padding-bottom: 10px;
    margin-top: -15px;

}

.answer-submit{
    background: #EDF3F4;
    border-radius: 7px;
    font-size: 18px;
    border: 1px solid #2780BC;
    box-shadow: 2px 2px 2px #2780BC;
    padding-left: 7px;
    letter-spacing: 1px;
}

.answer-text{
    color: #2780BC;
    text-shadow: none;
    font-size: 12px;
}

.answer-name{
    color: #000;
    font-size: 14px;
    text-shadow: none;
}

.answer-time{
    color:#000;
    font-size: 10px;
}

.answer-button{
    font-size: 20px;
    margin-left: 5px;
    padding-bottom: 5px;
}

.answer-button:hover{
    color: #2780BC;
    transition: 0.4s;
    text-shadow: #EDF3F4;
}

.card-comment{
    background-color: rgba(237,243,244, 0.5);
    width: 90%;
    align-content: center;
    justify-content: center;
    display: block;
    margin-left: 37px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-comment-user{
    background-color: rgba(235,211,164, 0.8);
    width: 90%;
    align-content: center;
    justify-content: center;
    display: block;
    margin-left: 37px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.comment-text{
    font-size: 18px;
    padding-left: 10px;
    text-shadow: none;
    color: rgb(3, 67, 109);
}

.comment-name{
    font-size: 22px;
    padding-left: 10px;
    color: #000;
    text-shadow: none;
    padding-top: 10px;
    letter-spacing: 2px;
}

.comment-answer{
    padding-left: 50px;
    padding-bottom: 10px;
}

.comment-time{
    color: #000;
    font-size: 14px;
    text-shadow: none
}

.comment-title{
    text-align: center;
    text-decoration: underline;
}

.comment-submit{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border: none;
    min-width: 400px;
    width: auto;
    max-width: 800px;
    letter-spacing: 2px;
    background: rgba(237,243,244, 0.5);
}

.comment-area{
    display: flex;
    justify-content: center;
    align-content: center;
}

.comment-id{
    color: transparent;
    font-size: 0;
}

.comment-button{
    margin-left: 5px;
    padding-bottom: 5px;
}

.comment-button:hover{
    color: #2780BC;
    transition: 0.4s;
    text-shadow: #EDF3F4;
}

.comment-delete{
    float: right;
    padding-right: 10px;
    padding-top: 7px;
    font-size: 18px;
}

.comment-delete:hover{
    color: rgba(255, 0, 0, 0.534);
    transition: 0.4s;
}